.logom img {
    position: absolute;
margin-top: 5px;
 margin-left: 10px;
 max-width: 400px;
 max-height: 320px;
left: 1px;
top: 3px;
}
.logom2 img {
    position: absolute;
  margin-top: -15px;
  margin-left: 10px;
  max-width: 400px;
  max-height: 320px;
  left: 1500px;
  top: 3px;
  }